<style>
    #snowman{
        position: {$settings.position|escape};
        left: {$settings.left|escape}px;
        top: {$settings.top|escape}px;
    }
    #snowmantext{
        text-align: {$settings.text_align|escape};
        font-size: {$settings.font_size|escape};
        background: {$settings.background_color|escape};
        margin: 10px;
        padding: {$settings.padding|escape}px;
        width: {$settings.width|escape}px;
        border: {$settings.border_width|escape}px {$settings.border_color|escape} solid;
        border-radius: {$settings.border_radius|escape}px;
        -webkit-border-radius: {$settings.border_radius|escape}px;
        -moz-border-radius: {$settings.border_radius|escape}px;
        -khtml-border-radius: {$settings.border_radius|escape}px;
	-moz-opacity: {$settings.opacity|escape};
	-khtml-opacity: {$settings.opacity|escape};
	opacity: {$settings.opacity|escape};
        z-index: 99999;
    }
    #snowmanclose{
        left: 10px;
        bottom: -10px;
        position: absolute;
        display: none;
    }
    #snowman:hover #snowmanclose{
        display: block;
    }
</style>
<script>
    $(function(){
        $('#snowmanclose').click(function(){
            $('#snowman').remove();
        });
    });
var snowmanswf = "{$wa_app_static_url}plugins/snowman/swf/snowman.swf";
document.write(
		'<div id="snowman">'+
                        '{if $settings.enabled_close|escape}<a href="javascript:void(0);" id="snowmanclose">{$settings.close_text}</a>{/if}'+
			'<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="400" height="355" id="_snowman" align="middle">'+
				'<param name="movie" value="' + snowmanswf + '" />'+
				'<param name="quality" value="high" />'+
				'<param name="bgcolor" value="#ffffff" />'+
				'<param name="play" value="true" />'+
				'<param name="loop" value="true" />'+
				'<param name="wmode" value="transparent" />'+
				'<param name="scale" value="showall" />'+
				'<param name="menu" value="true" />'+
				'<param name="devicefont" value="false" />'+
				'<param name="salign" value="" />'+
				'<param name="allowScriptAccess" value="sameDomain" />'+
				'<!--[if !IE]>-->'+
				'<object type="application/x-shockwave-flash" data="' + snowmanswf + '" width="400" height="355">'+
					'<param name="movie" value="' + snowmanswf + '" />'+
					'<param name="quality" value="high" />'+
					'<param name="bgcolor" value="#ffffff" />'+
					'<param name="play" value="true" />'+
					'<param name="loop" value="true" />'+
					'<param name="wmode" value="transparent" />'+
					'<param name="scale" value="showall" />'+
					'<param name="menu" value="true" />'+
					'<param name="devicefont" value="false" />'+
					'<param name="salign" value="" />'+
					'<param name="allowScriptAccess" value="sameDomain" />'+
				'<!--<![endif]-->'+
					'<a href="http://www.adobe.com/go/getflash">'+
						'<img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />'+
					'</a>'+
				'<!--[if !IE]>-->'+
				'</object>'+
				'<!--<![endif]-->'+
			'</object>'+
                       '{if $settings.enabled_text}<div id="snowmantext">{$settings.text}</div>{/if}'+
		'</div>'
);
</script>